<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @api_v1_product.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_product.name %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @api_v1_product.standard %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @api_v1_product.pattern %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @api_v1_product.cost %>
</p>

<p>
  <strong>Price:</strong>
  <%= @api_v1_product.price %>
</p>

<p>
  <strong>Use:</strong>
  <%= @api_v1_product.use %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @api_v1_product.explanation %>
</p>

<p>
  <strong>Can sale:</strong>
  <%= @api_v1_product.can_sale %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @api_v1_product.sales %>
</p>

<p>
  <strong>Sales amount:</strong>
  <%= @api_v1_product.sales_amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @api_v1_product.user_id %>
</p>

<%= link_to 'Edit', edit_api_v1_product_path(@api_v1_product) %> |
<%= link_to 'Back', api_v1_products_path %>
