<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.username %>
</p>

<% if @user.image.attached? %>
<!-- @user.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @user.image_url %>
  </p>
<% end %>



<% if @user.attachments.attached? %>
<p>
  <strong>Images:</strong>
  <br>
  <% @user.attachments.each do |attachment| %>
    <!-- <%= image_tag(attachment) %> -->
    <!-- <%= image_tag attachment.variant(resize: "150x150") rescue ''%> -->
    <%#= url_for(attachment) %>
    <%= image_tag url_for(attachment) %>

  <% end %>
</p>
<% end %>


<!-- attachments -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
