<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @iread.caption %>
</p>

<p>
  <strong>Caption render:</strong>
  <%= @iread.caption_render %>
</p>

<%= link_to 'Edit', edit_iread_path(@iread) %> |
<%= link_to 'Back', ireads_path %>
