<!DOCTYPE html>
<html>
  <head>
    <title>Imerp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <meta property="wb:webmaster" content="4d2ce11878617a3a" />

  <body>

  <%= notice_message %>

  <% if user_signed_in? %>
    <%= render  "layouts/shares/navbar" %>
    <%= yield %>
  <% else %>
    <%= yield %>
  <% end %>
  </body>

</html>
